/*
* @Author: admin
* @Date:   2017-07-29 22:51:31
* @Last Modified by:   admin
* @Last Modified time: 2017-08-10 18:02:04
*/
.NR ul{
	margin:-25px -210px;
	width: 153px;
}
.NR ul li{
	float:left;
} 
.NR .zr .scope{
	width:640px;
	height:670px;
	margin-top:-40px;
	margin-left:240px;
}
.NR .zr .scope li{
	width:310px;
	height:315px;
	border-radius: 50%;
	background:rgba(0,0,0,0.3);
	overflow: hidden;
}
.NR .zr .scope p{
	font-size:20px;
	margin-top:145px;
	padding-left:75px;
}
.NR .zr .scope li img{
	width:420px;
	height:370px;
	margin-left:-74px;
	margin-top:-50px;
	display: none;	
}

.NR .zr .name{
	width:330px;
	height:315px;
	margin-left:550px;
	margin-top:-40px;
}
.NR .zr .name li:nth-of-type(1){
	width:100px;
	height:200px;
	margin-left:40px;
	margin-top:20px;
}
.NR .zr .name li:nth-of-type(1) p{
	border: 1px solid #eae9e8;
	width:70px;
	height:30px;
	margin: 25px 0;
	text-align:center;
	line-height: 30px;
	color:#eae9e8;
}
.NR .zr .name li:nth-of-type(2){
	width:65px;
	height:200px;
	margin-left:40px;
	margin-top:20px;
}
.NR .zr .name li:nth-of-type(2) p{
	margin: 27px 0;
	text-align:center;
	line-height: 30px;
	padding-bottom:-2px; 
	border-bottom:1px solid #eae9e8;
	color:#eae9e8;
}
.NR .zr .name li:nth-of-type(3){
	width:735px;
	height:300px;
	margin-top:131px;
	margin-left:-340px;
}
.NR .zr .name li:nth-of-type(3) h1{
	text-align:center;
}
.NR .zr .name li:nth-of-type(3) p{
	line-height:40px;
	color:#eae9e8;
	text-align:center;
}
.kkl{
	position:relative;
	bottom:-94%;
	left:-13%; 
	width:1349px;

}
.kkl .qas{
	text-decoration:none;
	margin:0 auto;
	margin-top:0px;
	background:#cccccc;
	width:1350px;
	margin-left:-271px;
	height:35px;
	position:relative;
}
.kkl .qas p{
	text-align:center;
	font-size:13px;
}
.kkl .bnm {
	color:white;
	position:absolute;
	top:40px;
	left:640px;
	text-align: center;
	color:white;
	width:500px;
}
.kkl .bnm li .qax{
	font-size:14px;
	color:#000;
}







































































































































